@charset "UTF-8";

h1 {
    text-align: center;
    font: normal 2em 'Courier New', Courier, monospace;
    border-radius: 20%;
    background-color: black;
    color: white;
}

h2 {
    background-color: rgba(128, 128, 128, 0.733);
}

p {
    text-align: justify;
}

#alerta{
    font-size: 3em;
}
.cursivo {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: red;
}

a:visited {
    color: blue
}
a:hover{
    text-decoration: underline;
}
